img{
	max-width:100%;
	background-image: 239 B;
}
/*html,body,.jumbotron{
	height:100%;
}*/
body{
	background-color: rgba(66, 75, 66, 0.33);
	font-family: 'Roboto Slab', serif;
}
.card{
	margin-top: 20px;
	margin-bottom: 20px;
}
.navbar{
	background-color: grey;
}
.nav-link{
	color:black;
}
.progress progress-success{
	color:black;
}
.btn {
	border-color: black;
}
.container{
	outline-color: grey;
}
.jumbotron{
	background-size: cover;
	background-image:url()

}
.btn{
	background-color:green;
}
.display-1{
	font-size: 65px;
}