img{
	max-width:50%;
	max-height:100%;
	background-image: 239 B;
}
/*html,body,.jumbotron{
	height:100%;
}*/
body{
	background-color: rgba(66, 75, 66, 0.33);
	font-family: 'Roboto Slab', serif;
}
.card{
	margin-top: 20px;
	margin-bottom: 20px;
}
.navbar{
	background-color: grey;
}
.nav-link{
	color:black;
}
.progress progress-success{
	color:black;
}
.btn {
	border-color: black;
}
.container{
	outline-color: grey;
}
.jumbotron{
	background-size: cover;
	background-image:url(../img/IMG_9690.JPG)
}
.btn{
	background-color:darkgrey;
	color:white;
}
.btn:hover { 
background-color: darkgrey;
border-color: black;
cursor: pointer;
 }

.navbar-toggler navbar-toggler-right{
	background-color:blue;
}
.display-1{
	font-size: 65px;
}